<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="/static/shows/css/main.css" rel="stylesheet">
    <link rel="icon" href="/static/shows/img/tv.png">
    <link rel="manifest" href="/static/shows/pwa.manifest">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/shows/js/add.js"></script>

    <script>
        begin.init();
    </script>


    <title>Owleigh Show Planner</title>
</head>
<body>
<section class="add">
    <h1>Add a Show</h1>
    <div class="elements">
        <h2 class="unedited" contenteditable="true" id="title">Show Title</h2>
        <p id="length" >Length: <span class="unedited" contenteditable="true">00:00</span></p>
        <div id="service_grid">
            <img alt="bbc" src="/static/shows/img/bbc.png" class="tv" style="filter: opacity(20%); grid-row: 1;">
            <img alt="itv" src="/static/shows/img/itv.png" class="tv" style="filter: opacity(20%); grid-row: 1;">
            <img alt="c4" src="/static/shows/img/c4.png" class="c4 tv" style="filter: opacity(20%); grid-row: 2;">
            <img alt="e4" src="/static/shows/img/e4.png" class="c4 tv" style="filter: opacity(20%); grid-row: 2;">
            <img alt="5" src="/static/shows/img/5.png" class="c4 tv" style="filter: opacity(20%); grid-row: 3;">
            <img alt="dave" src="/static/shows/img/dave.png" class="tv" style="filter: opacity(20%); grid-row: 3;">
            <img alt="sky" src="/static/shows/img/sky.png" class="tv" style="filter: opacity(20%); grid-row: 4;">
            <img alt="disney" src="/static/shows/img/disney.png" style="filter: opacity(20%); grid-row: 4;">
            <img alt="netflix" src="/static/shows/img/netflix.png" class="c4" style="filter: opacity(20%); grid-row: 5;">
            <img alt="amazon" src="/static/shows/img/amazon.png" class="c4" style="filter: opacity(20%); grid-row: 5;">
        </div>
        <p id="day" style="display: none;" class="airtime">Day: 
            <select>
                <option>Monday</option>
                <option>Tuesday</option>
                <option>Wednesday</option>
                <option>Thursday</option>
                <option>Friday</option>
                <option>Saturday</option>
                <option>Sunday</option>
                <option>N/A</option>
            </select>
        </p>
        <p class="airtime" id="time" style="display: none;">Time: <input type="time"></p>
        <div class="tags">
            <span class="selected">Comedy</span>
            <span>Easy Watching</span>
        </div>
    </div>
    <img id="submit" src="/static/meal_planner/img/tick.png">
</section>

</body>
</html>