<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="/static/shows/css/main.css" rel="stylesheet">
    <link rel="icon" href="/static/shows/img/tv.png">
    <link rel="manifest" href="/static/shows/pwa.manifest">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <title>Owleigh Show Planner</title>
</head>
<body>
<section class="add">
    <h1>Add a Show</h1>
    <div class="elements">
        <h2 class="unedited" contenteditable="true" id="title">Show Title</h2>
        <p>Length: <span class="unedited" contenteditable="true">00:00</span></p>
        <p>Service: <span class="unedited" contenteditable="true">_________</span></p>
        <p>Tags: <span class="unedited" contenteditable="true">______</span> </p>
    </div>
    <img src="/static/meal_planner/img/tick.png">
</section>

</body>
</html>