<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="/static/shows/css/main.css" rel="stylesheet">
    <link rel="icon" href="/static/shows/img/tv.png">
    <link rel="manifest" href="/static/shows/pwa.manifest">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/shows/js/main.js"></script>
    <script src="/static/shows/js/main_today.js"></script>
    <script src="/static/shows/js/main_tags.js"></script>
    <script>
        begin.init();
        let today_data = {{ today_shows | tojson }};
        let data_in = {{ data | tojson }}
    </script>

    <title>Owleigh Shows</title>
</head>

<body>
    <div class="parent row">

        <section class="one">
            <h1>Find Something...</h1>
            <div class="tags">
            </div>
        </section>
        <section id="start" class="shows two">
            <h1>What's On?</h1>
            <table>
                <tbody>
                    <tr class="time">
                        <td colspan="2">19:00</td>
                    </tr>
                    <tr class="7 content">
                        <td class="output name"></td>
                        <td class="output duration"></td>
                    </tr>

                    <tr class="time">
                        <td colspan="2">20:00</td>
                    </tr>
                    <tr class="8 content">
                        <td class="output name"></td>
                        <td class="output duration"></td>
                    </tr>

                    <tr class="time">
                        <td colspan="2">21:00</td>
                    </tr>
                    <tr class="9 content">
                        <td class="output name"></td>
                        <td class="output duration"></td>
                    </tr>

                    <tr class="time">
                        <td colspan="2">22:00</td>
                    </tr>
                    <tr class="10 content">
                        <td class="output name"></td>
                        <td class="output duration"></td>
                    </tr>

                </tbody>
            </table>
            <h1 class="loading" style="display: none;">Please Wait</h1>
        </section>
        <section class="three">
            <a class="add_item" href="/shows/add#1">
                <img height="20" width="20" src="/static/meal_planner/img/plus.png">
            </a>
        </section>

    </div>

    <!--<section class="scroll_lock shows s2">
        <h1>Your Shows</h1>
        <table>
            <thead>
            <td>Show</td>
            <td>Length</td>
            <td>Service</td>
            <td>Time</td>
            </thead>
            <tbody>

            </tbody>
        </table>
    </section>
    <section class='loading' style="display: none">
        <h1>Please Wait</h1>
    </section> -->
    </div>
</body>

</html>