<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="/static/shows/css/main.css" rel="stylesheet">
    <link rel="icon" href="/static/shows/img/tv.png">
    <link rel="manifest" href="/static/shows/pwa.manifest">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/shows/js/main.js"></script>
    <script>
        begin.init();
        let data_in = {{ data |tojson }};
        //console.log(data_in);
    </script>

    <title>Owleigh Shows</title>
</head>
<body>
<a href="/shows/add#1">
    <img height="20" width="20" src="/static/meal_planner/img/plus.png">
</a>
<section class="shows">
    <h1>Your Shows</h1>
    <table>
        <thead>
        <td>Show</td>
        <td>Length</td>
        <td>Service</td>
        <td>Time</td>
        </thead>
        <tbody>

        </tbody>
    </table>
</section>
<section class='loading' style="display: none">
    <h1>Please Wait</h1>
</section>
</body>
</html>