<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="/static/shows/css/main.css" rel="stylesheet">

    <title>Owleigh Shows</title>
</head>
<body>
<section class="shows">
    <h1>Your Shows</h1>
    <table>
        <thead>
        <td>Show</td>
        <td>Length</td>
        <td>Service</td>
        <td>Tags</td>
        </thead>
        <tbody>
        <tr>
            <td>Race Across the world</td>
            <td>1:00</td>
            <td><img src="/static/shows/img/disney.png" class="long"></td>
            <td>Adventure, Easy</td>
        </tr>
        <tr>
            <td>Zoey</td>
            <td>1:00</td>
            <td>E4</td>
            <td>Easy, Comedy</td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>