html,
body {
	height: 90%;
	background-color: #2c666e;
	color: white;
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

section {
    height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    width: 100%;
	}


section h1{
    font-size: 50px;
}

section table{
    text-align: center;
    border-collapse: collapse;
    table-layout: auto;
}

section table thead tr td{
    font-weight: bold;
    font-size: 25px;
    border-bottom: white solid;
    padding-right: 5px;
}


section table tbody tr td{
    padding: 5px;
    border-bottom: #f9f9fa solid 1px;
}

img.long{
    height: 15px; 
    width: 30px;
}

img.c4{
    height: 20px;
    width: 15px;
}

section.add img{
    height: 40px;
    width: 40px;
}

section.add .elements{
    width: 90%;
    font-size: 25px;
}

section.add .elements div#service_grid{
    display: grid;
    grid-row-gap: 20px;
}

section.add .elements div#service_grid img{
    margin: auto;
    height: 30px !important; 
    width: 50px !important;
}

section.add .elements div#service_grid img.c4{
    height: 50px !important; 
    width: 50px !important;
}

section.add .elements .tags{
    font-size: 15px;
    margin-bottom: 25px;
    margin-top: 25px;
}

section.add .elements .tags span{
    margin: 10px 5px;
    background-color: #49a1ad;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    display: inline-block;
}

section.add .elements .tags span.selected::after{
    content: ' ✓';
}