<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title> Owleigh Meal Planner </title>

    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="/static/meal_planner/css/main.css" rel="stylesheet">
    <link rel="icon" href="/static/meal_planner/img/dish.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/static/meal_planner/pwa.manifest">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/meal_planner/js/add.js"></script>
    <script>
        begin.init();
    </script>
</head>
<body>
<section class="item_add">
    <div class="item">
        <h1 contenteditable="true" class="unedited"> The Menu Item </h1>
        <ul>
            <li contenteditable="true" class="unedited">Item 1</li>
        </ul>
    </div>
    <div class="actions">
        <img id="tick" style="padding-right: 20px" src="/static/meal_planner/img/tick.png">
        <img id="add" src="/static/meal_planner/img/plus.png">
    </div>
</section>
<section id="success" style="display: none">
    <h1>Option Added</h1>
</section>
<section id="error" style="display: none">
    <h1>Option Already Exists</h1>
</section>

</body>
</html>