html, 
body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'info-l info-l info-l info-r info-r info-r'
        'presence presence presence presence presence presence'
        'footer footer footer footer footer footer';
    grid-gap: 0 10px;
    background-color: #01ebc2;
}

section.header{
    grid-area: header; 
    display: grid;
    grid-template-areas: 
        'datetime message message message message message';
    color: white;
    background-color: #333333;
    height: 50px;
}

section.header p.datetime{
    grid-area: datetime;
    text-align: center;
}

section.header span.message{
    background-color: #494949;
    grid-area: message;
    height: inherit;
}

section.header span.message p{
    margin-left: 30px;
}

section.info-pane{
    display: grid;
    grid-template-areas: 
        'title title title'
        'text text text'
        'secondary secondary secondary';
    font-family: 'Handlee', cursive;
    margin-left: 30px;
    padding-bottom: 20px;
}

section.info-pane.l{ 
    grid-area: info-l; 
}

section.info-pane.r{
    grid-area: info-r; 
}

section.info-pane div.title{
    grid-area: title;
}

section.info-pane h1{
    font-size: 130%;
    text-transform: uppercase;
    color: white;
    margin: 0;
    font-family: 'Handlee', cursive;
}

section.info-pane .fancy-line{
    display: inline-block;
    width: 120px;
    height: 10px;
    background-color: rgba(73,73,73, 0.5);
    border-radius: 10px;
}

section.info-pane img{
    grid-area: img;
    margin-left: 110px;
    margin-top: 50px;
    margin-right: 10px;
    opacity: 0.3;
    height: 150px;
}

section.info-pane p{
    grid-area: text;
    color: white;
    font-size: 200%;
}

section.info-pane.r p{
    font-size: 250%;
}

section.info-pane.r p.secondary{
    grid-area: secondary;
    text-align: right;
    font-size: 140%;
    padding-right: 100px;
}


section.presence-detection{
    display: grid;
    grid-template-areas: 
        'l l l r r r';
    grid-area: presence;
    background-color: white;
    padding: 0;
    margin: 0;
}

section.presence-detection div.right{
    grid-area: r;
    text-align: center;
}

section.presence-detection div.left{
    grid-area: l;
    text-align: center;
}


section.presence-detection img{
    height: 200px;
    border-radius: 100px;
    margin-top: 20px;
}

section.presence-detection p{
    font-weight: bold;
    font-size: 150%;
    text-transform: uppercase;
}

section.presence-detection div.in{
    color: #01ebc2;
}

section.presence-detection div.out{
    color: #dd5b43;
    opacity: 0.4;
}

section.bottom-nav{
    grid-area: footer;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333333;
}

section.bottom-nav img{
    height: 40px;
    padding: 10px 0;
}

