<html>
<head>
    <title> OwTies</title>

    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="/static/photos/css/main.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <p class="breadcrumb">{{directory}}</p>
    
    <section class="directory_view">
        <section class="directory_grid">
            {% for item in contents.directory.contents %}
                {%if item.is_directory %}
                    <div class="folder">
                        <img src="/static/photos/img/folder.png">
                        <p>{{item.name}}</p>
                    </div>
                {% else %}
                    <div class="item">
                        <img src="/static/photos/img/folder.png">
                        <p>{{item.name}}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </section>
    </section>
</body>
</html>