<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dashboard</title>

    <link href="https://fonts.googleapis.com/css2?family=Handlee&family=News+Cycle&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/dashboard/css/main.css">

    <script>
        document.documentElement.webkitRequestFullScreen();
    </script>

</head>

<body>
    <section class="header">
        <p class="datetime"><span class="time">13:30</span> <span class="date">24 May 2020</span></p>
        <span class="message">
            <p class="message">Lorem ipsum dolor sit. </p>
        </span>
    </section>

    <section class="info-pane l">
        <div class="title">
            <span class="fancy-line"></span>
            <h1>On Tonight</h1>
        </div>
        <img src="/static/dashboard/img/tv.svg">
        <p>
            <span class="time">19:00 </span> - <br>
            <span class="time">20:00 </span> Masterchef <br>
            <span class="time">21:00 </span> Gogglebox <br>
            <span class="time">22:00 </span> - <br>
        </p>
    </section>

    <section class="info-pane r">
        <div class="title">
            <span class="fancy-line"></span>
            <h1>Food Tonight</h1>
        </div>
        <img src="/static/dashboard/img/food.svg">
        <p>Spaghetti Bolognaise</p>
    </section>


    <section class="presence-detection">
        <div class="left">
            <img src="/static/dashboard/img/owen_mug.jpg">
        </div>
        <div class="right">
            <img src="/static/dashboard/img/kayleigh_mug.jpg">
        </div>
    </section>

    <section class="bottom-nav">

    </section>
    
</body>
</html>