<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dashboard</title>

    <link href="https://fonts.googleapis.com/css2?family=Handlee&family=News+Cycle&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/dashboard/css/main.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/static/dashboard/js/mqttws31.js"></script>

</head>

<body>
    {%raw%}
    <section class="header">
        
    </section>

    <section class="info-pane l">
        <div class="title">
            <span class="fancy-line"></span>
            <h1>On Tonight</h1>
        </div>
       <!--<img src="/static/dashboard/img/tv.svg">-->
        <p>
            <span class="time">19:00</span>&nbsp; {{seven}} <br>
            <span class="time">20:00</span>&nbsp; {{eight}} <br>
            <span class="time">21:00</span>&nbsp; {{nine}} <br>
            <span class="time">22:00</span>&nbsp; {{ten}} <br>
        </p>
    </section>

    <section class="info-pane r">
        <div class="title">
            <span class="fancy-line"></span>
            <h1>Food Tonight</h1>
        </div>
        <!--<img src="/static/dashboard/img/food.svg">-->
        <p>{{today}}</p>
        <p class="secondary">Tomorrow: {{tomorrow}}</p>
    </section>


    <section class="presence-detection">
        <div class="owen left" v-bind:class="owen_status">
            <img src="/static/dashboard/img/owen_mug.jpg">
            <p>{{owen_status}}</p>
        </div>
        <div class="kay right" v-bind:class="kay_status">
            <img src="/static/dashboard/img/kayleigh_mug.jpg">
            <p>{{kay_status}}</p>
        </div>
    </section>

    <section class="bottom-nav">
        
    </section>
    
    <script src="/static/dashboard/js/components.js"></script>
    <script src="/static/dashboard/js/home.js"></script>
    <script src="/static/dashboard/js/mqtt.js"></script>
    {%endraw%}
</body>
</html>