<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet"> 
    <link href="/static/dashboard/css/main.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title>Owleigh Dash</title>
</head>
<body>
    <section class="grid">
        <section id="g1">
            <div id="meal">
                <h2>Spaghetti Bolognaise</h2>
            </div>
            <div class="r3"><p>1</p></div>            
        </section>
        <section id="g2">
            <div id="temp">
                <h2>18°C</h2>
            </div>
            <div class="r2" id="calendar">
                <h2>Monday 24th April</h2>
                <div class="cal-grid">
                    <ul class="weekdays">
                        <li>Mo</li>
                        <li>Tu</li>
                        <li>We</li>
                        <li>Th</li>
                        <li>Fr</li>
                        <li>Sa</li>
                        <li>Su</li>
                      </ul>
                      
                      <ul class="days">
                        <li>10</li>
                        <li><span class="event">11</span></li>
                        <li>11</li>
                        <li>11</li>
                        <li>11</li>
                        <li>11</li>
                        <li>11</li>
                        <li><span class="active">10</span></li>
                        <li><span class="event">11</span></li>
                        <li>11</li>
                        <li>11</li>
                        <li>11</li>
                        <li>11</li>
                        <li>11</li>
                        <li>10</li>
                        <li><span class="event">11</span></li>
                        <li>11</li>
                        <li>11</li>
                        <li>11</li>
                        <li>11</li>
                        <li>11</li>
                        <li>10</li>
                        <li><span class="event">11</span></li>
                        <li>11</li>
                        <li>11</li>
                        <li>11</li>
                        <li>11</li>
                        <li>11</li>
                      </ul>
                </div>
            </div>
            <div class="r2"><p>1</p></div>
        </section>
        <section id="g3">
            <div id="list">
                <h2>Notes</h2>
                <ul>
                    <li>Note Item</li>
                    <li>Note Item</li>
                    <li>Note Item</li>
                </ul>
            </div>
            <div class="r3"><p>1</p></div>
        </section>      
    </section>
</body>
</html>